<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VAROL</title>
</head>
<body>

<body style="background-color:
rgb(201, 186, 186);">

     <center> <h1 style="color:rgb(0, 92, 128);
font-size:1000% 
">VAROL</h1> 
    <form action="/toplam"   method = "post">
    <input type="text"  size="50" maxlength="300"  name = "seed"><br>
    <input type="text"  size="15" maxlength="300"  name = "lookup"><br>
    <button type = "submit" > Varol'da Ara</button></center>
    
    
</form>
</body>
</html>