<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="POST">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SONUCLAR</title>
    <form method='POST' action='/sum'>
        <table>
</head>
<body>
<center>
<body style="background-color:
rgb(201, 186, 186);">
<center> <h1 style="color:rgb(0, 92, 128);
font-size:200% 
">↓ARAMA SONUÇLARI↓</h1> </center>
{% for b in  c  %}
<hr>
<a href = {{b}}>{{b}}</b>
<br>
<br>
{% endfor %}
</center>
</body>
</html>